.orderDetails {
    background-color: #343a40; /* Dark background */
    padding: 10px;
}

.nav-pills .nav-link {
    color: white; /* White text color */
}

.nav-pills .nav-link:hover {
    background-color: #fd7e14; /* Orange hover effect */
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #fd7e14; /* Active link style */
    color: white;
}

.nav-item {
    margin-right: 15px; /* Space between items */
}