.orderDetails {
    background-color: #343a40; /* Dark background */
    padding: 10px;
}

.nav-pills .nav-link {
    color: white; /* White text color */
}

.nav-pills .nav-link:hover {
    background-color: #fd7e14; /* Orange hover effect */
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #fd7e14; /* Active link style */
    color: white;
}

.nav-item {
    margin-right: 15px; /* Space between items */
}
#background{
    width: 98vw;
    height: 835px;
    background-color: #FBDAB3;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 20px;
}
.order_container{
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}

.order_container .container .row .col div{
    margin: 15px;
}

.order_container .container h4{
}

.cart_btn{
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.cart_remove{
    background: #ef233c;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 3px 15px 3px 15px;
}

.cart_remove:hover{
    opacity: 0.7;
}

.order_btn{
    color: #ffffff;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.header{
    margin-top: 50px;
}